html, body { 
	min-width: 480px;
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: "Fira Sans", sans-serif; 
	margin: 0;
	padding: 0;
}
main { 
	display: block; 
	min-height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}
a.visited { color: inherit; }
strong { font-weight: bold; }

/* HEADER */
#page_header { 
	width: 100%; 
	height: 50px; 
	background-color: #183848; 
}
#page_header nav { 
	color: #fff;
	padding: 5px 1em; 
	position: relative; 
	text-transform: uppercase;
}
#page_header a { 
	text-decoration: none;
	color: #fff;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
#page_header a:hover {
	color: #d61f35;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
nav ul li {
	display: inline-block;
	line-height: 40px; 
	cursor: pointer;
	vertical-align: middle;
	margin-right: 1em;
}
nav ul li:first-child {
	font-weight: bold;
	font-size: 1.5em;
	margin-right: 4em; 
}
#server_load {
	border: 1px solid #337AB7;
	width: 50px;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	text-align: center;
	position: absolute;
	top: 15px;
	right: 1.5em;
	background: #fff;
	padding: 1px;
	z-index: 3;
	color: #000;
}
#load {
	display: block;
	height: 100%;
	background: #337AB7;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

/* FOOTER */
.spacer { padding-bottom: 100px; }
#page_footer { 
	width: 100%;
	height: 100px;
	background-color: #183848;
	position: absolute;
	left: 0;
	bottom: 0;
}
#page_footer nav {
	padding: 0 1em; 
}
#page_footer a { 
	display: inline-block;
	color: #fff;
	margin: 23px 1.5em 23px 0.5em;
}
#page_footer a img { height: 50px; }


/* ARTICLES */
article { margin: 1em; }
article h2 { font-size: 1.5em; font-weight: bold; }
article img { 
	max-width: 100%; 
	width: 100%; 
	margin: 0 auto;
}

/* FORM */
#form_wrapper { background-color: #337AB7; padding: 1em 0; }
form { margin: 1em 1em 0.5em 1em; color: #fff; }
form h2 { 
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0.5em;
}
form input {
	background: #fff;
	border: 1px solid #183848;
	font-size: 0.9em;
	padding: 0.2em;
	margin-bottom: 0.2em;
	vertical-align: middle;
	margin-bottom: 10px;
}
input[type="submit"] {
	background: #183848;
	width: 100px;
	height: 35px;
	margin-top: 0.5em;
	padding: 3px 5px; 
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 1.1em;
	cursor: pointer; 
	color: #fff;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
input[type="submit"]:hover { 
	color: #d61f35;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
fieldset { 
	border: 1px solid #fff;
	padding: 0.5em 1em;
	margin-bottom: 0.5em;
}
fieldset.optional { display: none; }
fieldset legend { 
	margin-right: 0.2em; 
	text-transform: uppercase;
}
label { display: inline-block; width: 100px; }
.req { color: #d61f35; }
.toggle_example { 
	cursor: pointer; 
	position: relative;
	overflow: hidden;
	margin: 10px 0;
	background: #183848;
	display: inline-block;
	padding: 3px 5px; 
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	font-size: 0.9em;
	color: #fff;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.toggle_example:hover {
	color: #d61f35;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.file_example { 
	color: #000;
	display: none;
	margin: 0.2em 0; 
	padding: 0.5em; 
	background: #fff; 
	font-family: monospace; 
	overflow-x: auto; 
	border: 1px solid #183848;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
p.help { font-style: italic; margin: 0.2em 0; }

/* BROWSE FILES */
.file_upload {
	position: relative;
	overflow: hidden;
	margin: 0 0 10px 10px;
	background: #183848;
	display: inline-block;
	width: 75px;
	height: 20px;
	padding: 3px 5px; 
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 0.9em;
	color: #fff;

	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.file_upload:hover { 
	color: #d61f35; 
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.file_upload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#more_options { 
	cursor: pointer; 
	display: block;
	margin-bottom: 0.5em;
}
#more {
	display: inline-block;
	border: 1px solid #fff;
	width: 23px;
	height: 23px;
	text-align: center;
	font-size: 25px;
}


/* UPLOAD PROGRESS */
#upload_progress { display: none; margin-top: 1em; }
#upload_progress h2 {
	font-size: 1.5em; 
	font-weight: bold;
	text-align: center;
}
.progress {
	position: relative;
	width: 90%;
	margin: 10px auto;
	border: 1px solid #ddd;
	padding: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.bar {
	background: #008DE6;
	height: 20px;
	width: 0%;
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
	transition: width .3s;
}
.percent {
	position: absolute;
	display: inline-block;
	top: 8px;
	left: 48%;
}
.status {
	display: none;
	min-height: 30px;
	line-height: 30px;
	padding-left: 40px;
	margin-top: 5px;
	vertical-align: middle;
}
#job_token { font-weight: bold; }

/* JOB PROGRESS */
.overview_table { 
    margin: 1em; 
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
}
.overview_table tr:nth-child(odd) {
    background-color: #eee;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.overview_table td { padding: 0.3em; }
.progress_time { 
    width: 60px;
    display: inline-block;
    font-weight: bold;
}
.progress_step { width: 100px; }
.progress_error { background-color: rgba(255, 0, 0, 0.5) !important; }
.progress_finished { background-color: rgba(0, 255, 0, 0.5) !important; }


/* JOB RESULTS */
.download_h3 { font-weight: bold; font-size: 1.2em; }

@viewport, @-ms-viewport { zoom: 1.0; }
@media screen and (max-width: 480px) { 
	nav ul li:first-child { margin-right: 1em; }

	/* FOOTER */
	.spacer { padding-bottom: 90px; }
	#page_footer { height: 90px; }
	#page_footer a img { height: 40px; }
	#page_footer a { margin-rigth: 0.75em; }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
	nav ul li:first-child { margin-right: 1.5em; }
	
	/* FOOTER */
	.spacer { padding-bottom: 90px; }
	#page_footer { height: 90px; }
	#page_footer a img { height: 40px; }
	#page_footer a { margin-rigth: 0.75em; }
}
@media screen and (min-width: 768px) and (max-width: 1024px) { 
    nav ul li:first-child { margin-right: 3em; }
}
@media screen and (min-width: 1025px) { 
	
	/* HEADER */
	#page_header nav, #page_footer nav, form, article, .overview_table {
		width: -moz-calc(900px - 2em);
		width: -webkit-calc(900px - 2em);
		width: calc(900px - 2em);
		margin: 0 auto;
	}
	.overview_table { margin: 1em auto; }
	
	from, article { margin: 1em auto; }

}
